.admin-dashboard{

  min-height:100vh;

  background:#f4f7fb;

  padding:40px;

}

.admin-container{

  max-width:1200px;

  margin:auto;

}

.admin-container h1{

  font-size:42px;

  color:#0d1b2a;

}

.admin-container h2{

  margin-top:10px;

  color:#2563eb;

}

.admin-container p{

  color:#555;

  margin-bottom:40px;

}

.admin-cards{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:25px;

}

.admin-card{

  background:white;

  padding:30px;

  border-radius:18px;

  box-shadow:
  0 4px 15px rgba(0,0,0,0.08);

}

.admin-card h3{

  color:#0d1b2a;

  margin-bottom:15px;

}

.admin-card p{

  font-size:32px;

  font-weight:bold;

  color:#2563eb;

}